.elements-grid__like-counter {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}