.elements-grid__like {
  height: 19px;
  width: 100%;
  
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  margin-bottom: 3px;

  border: none;
  outline: none;
  cursor: pointer;

  transition: .3s ease opacity;
}
.elements-grid__like:hover {
  opacity: .5;
}
