.profile__button-edit {

  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  outline: none;
  margin-left: 18px;

  background-color: transparent;
  background-image: url(../../../images/button-edit.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  cursor: pointer;

  transition: .3s ease opacity;
}
.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 725px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 7.5px 7.5px;
  }
}
